/dev/genlock              0666   system     system
/dev/kgsl                 0666   system     system
/dev/kgsl-3d0             0666   system     system
/dev/ion                  0664   system     system
/dev/video*               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera
/dev/rtc0                 0660   system     system
/dev/diag                 0660   radio      radio
/dev/mdm                  0660   system     radio
/dev/ttyUSB0              0660   system     system
/dev/msm_acdb             0660   system     audio
/dev/msm_rtac             0660   system     audio
/dev/msm_rotator          0660   system     system
/dev/smd0                 0660   system     system
/dev/smd4                 0660   system     system
/dev/smd5                 0660   system     system
/dev/smd6                 0660   system     system
/dev/smd7                 0660   bluetooth  bluetooth
/dev/smd_cxm_qmi          0640   radio      radio
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/smuxctl32            0640   radio      radio
/dev/rmnet_mux_ctrl       0640   radio      radio
/dev/hsicctl0             0640   radio      radio
/dev/hsicctl1             0640   radio      radio
/dev/hsicctl2             0640   radio      radio
/dev/hsicctl3             0640   radio      radio
/dev/qseecom              0660   system     drmrpc
/dev/video32              0660   system     camera
/dev/video33              0660   system     camera
/dev/bcm2079x             0660   nfc        nfc
/dev/jpeg0                0660   system     camera
/dev/jpeg1                0660   system     camera
/dev/jpeg2                0660   system     camera
/dev/ttyHS99              0660   bluetooth  net_bt_stack
/sys/devices/virtual/smdpkt/smdcntl*       open_timeout   0664 radio radio
